*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: #FF0DFF;
    width: 40%;
    border-radius: 70px;
    text-align: center;
    color: #E80C7A;
    padding: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.heading{
    font-size: 35px;
    letter-spacing: 2px;
}
/* letter-spacing: 2px; harflerin arasın açmak için */
.joke{
    font-size: 25px;
    margin: 30px;
}
.jokeButton{
    color: #fa6efa;
    border: none;
    outline: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    background: #E80C7A;
    text-transform: uppercase;
}
/* text-transform: uppercase; bütün harfleri büyük yapmak için */

.jokeButton:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}